.vscode/
.DS_Store
.idea
tmp_*.sql
logs
**/bin/*
!bin/mongo
!bin/graphql
*.classpath
*.project
*.settings
project/project
project/target
target
tmp
.cache
.gradle
*.iml
*.ipr
*.iws
graphql/graphql.config.json
graphql/graphql.schema.json
graphql/src/mainGeneratedGql
node_modules
build
dockerTestContainerData
out
rest/src/main/resources/local.conf
rest/src/main/resources/logback-local.xml
api.pid
.java-version
.renderedConfig/*.conf
.renderedConfig/*.conf.tmp
local-*
.resourceCache